---
import AuthLayout from "../../layouts/AuthLayout.astro";
import { RequestPasswordResetForm } from "../../components/auth/RequestPasswordResetForm";
---

<AuthLayout title="10x Cards - Resetowanie hasła" wideContent={false}>
  <div class="max-w-md mx-auto">
    <RequestPasswordResetForm client:load />
  </div>
</AuthLayout> 