---
import AuthLayout from "../../layouts/AuthLayout.astro";
import { UpdatePasswordForm } from "../../components/auth/UpdatePasswordForm";

// Pobieranie tokenu z query parameters
const token = Astro.url.searchParams.get("token");
---

<AuthLayout title="10x Cards - Aktualizacja hasła" wideContent={false}>
  <div class="max-w-md mx-auto">
    <UpdatePasswordForm client:load token={token || undefined} />
  </div>
</AuthLayout>
